.post-page .image {
  max-height: 300px;
  display: flex;
  overflow: hidden;
}

.post-page .image img {
  object-fit: cover;
  object-position: center center;
}

.post-page > h1,
.post-page > p {
  text-align: center;
}

.post-page .info {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.5rem;
}

.post-page .info time {
  color: #888;
  font-size: 0.7rem;
  font-weight: bold;
}

.post-page .info .author {
  margin-bottom: 1rem;
  font-size: 0.7rem;
  font-weight: bold;
}
